+ **Control flow statements**: Use the if-else statements in Python for conditional decision-making
+ **for loop**: To iterate over a sequence of elements such as list, string.
+ **range() function**: Using a for loop with range(), we can repeat an action a specific number of times
+ **while loop**: To repeat a block of code repeatedly, as long as the condition is true.
+ **Break and Continue**: To alter the loop’s execution in a certain manner.
+ **Nested loop**: loop inside a loop is known as a nested loop

### Exercise 1: Print First 10 natural numbers using while loop

In [6]:
i = 1
while i <= 10:
    print(i)
    # reduce value of i after every iteration
    i += 1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern

- 1 
- 1 2 
- 1 2 3 
- 1 2 3 4 
- 1 2 3 4 5

In [10]:
print("Number Pattern")

## decide the row count
row = 5


## start : 1
## stop : row + 1 (range never include stop number in result)
## step 1
## run loop 5 times

for i in range(1,row+1,1):
    ## run inner loop for (i+1) times
    for j in range(1,i+1):
        print(j, end=" ")
    ## empty lines after each row
    print(" ")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate the sum of all numbers from 1 to a given number

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [20]:
sum_ = 0
input_num = int(input("Enter a Number"))

for num in range(1,input_num+1,1):
    sum_ += num ## sum_ = sum_ + num
print("\n")
print("Sum is :", sum_)

Enter a Number 40

Sum is : 820

### Exercise 4: Write a program to print multiplication table of a given number

In [36]:
n = 2
for i in range(1,11,1):
    p = n*i
    print(p)

2
4
6
8
10
12
14
16
18
20

### Exercise 5: Display numbers from a list using loop

Write a program to display only those numbers from a list that satisfy the following conditions

+ The number must be divisible by five
+ If the number is greater than 150, then skip it and move to the next number
+ If the number is greater than 500, then stop the loop

In [45]:

numbers = [12,75,150,180,145,525,50]
for num in numbers:
    if num > 500:
        break
    elif num > 150:
        continue
    elif num % 5 == 0:
        print(num)

75
150
145

### Exercise 6: Count the total number of digits in a number

Write a program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [48]:
num = 75869
str(num)
len(str(num))

5

In [2]:
# using while loop
number = 75869
count = 0
while number != 0:
    #floor division
    #to reduce the last digit from number 
    number = number//10
    #increment count by 1
    count = count + 1
print(count)

5

### Exercise 7: Print the following pattern

Write a program to use for loop to print the following reverse number pattern

- 5 4 3 2 1 
- 4 3 2 1 
- 3 2 1 
- 2 1 
- 1

In [3]:
n=5
k=5

for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: Print list in reverse order using a loop

In [8]:
##Approach 1
list1 = [10, 20, 30, 40, 50]
list_reversed=reversed(list1)
for num in list_reversed:
    print(num)

50
40
30
20
10

In [9]:
##Approach2
list1 = [10,20,30,40,50]
#get the list size
#len(list1)-1:bcz index starts with 0
#iterate list in reverse order
#start from last item to first
size = len(list1)-1
for i in range(size,-1,-1):
    print(list1[i])

50
40
30
20
10

### Exercise 9: Display numbers from -10 to -1 using for loop

In [3]:
## reverse looping using for
for num in range(-10,0,1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [7]:
for i in range(0,5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done

### Exercise 11: Write a program to display all prime numbers within a range

In [13]:
num_start = int(input("Enter a starting Number"))
num_end = int(input("Enter the Ending Number"))

for num in range(num_start,num_end+1):
    ##all prime numbers are greater than zero
    ##if any number is less than or equal to zero, it is not prime number
    if num>1:
        for i in range(2,num):
            ##check for factors
            if (num%i)==0:
                ##not a prime number, so break the inner loop and look for the next number
                break
                
        else:
            print(num)

Enter a starting Number 2
Enter the Ending Number 20

2
3
5
7
11
13
17
19

### Exercise 12: Display Fibonacci series up to 10 terms

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

In [24]:
##first two numbers will be 0 and 1
num1,num2 = 0,1
print("Fibonacci Series is :")
##run the loop 10 times
for num in range(0,10):
    ##print next number of the series
    print(num1, end = "  ")
    ##add last two numbers to get the next number
    next_num = num1 + num2
    
    ##updating the values of first two numbers for the next iteration
    num1 = num2
    num2 = next_num

Fibonacci Series is :
0  1  1  2  3  5  8  13  21  34

### Exercise 13: Find the factorial of a given number

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

In [32]:
##set the factorial as 1
factorial = 1
##choose a number to find the factorial
number = int(input("Choose a Number"))
##iterate the number starting from 1 to choosen number
for i in range(1,number+1):
    ##In each iteration, multiply factorial by the current number and assign it again to a factorial variable (factorial = factorial *i)
    factorial = factorial * i
print("Factorial of given number is:",factorial)

Choose a Number 5

Factorial of given number is: 120

### Exercise 14: Reverse a given integer number

In [35]:
##given number
number = 1233654
reverse_number = 0
print("Given Number:", number)
##loop through while the number is greater than zero
while number > 0:
    reminder = number % 10
    reverse_number = (reverse_number * 10) + reminder
    number = number // 10
    
print("Reverse Number:", reverse_number)

Given Number: 1233654
Reverse Number: 4563321

### Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [41]:
my_list = [10,20,30,40,50,60,70,80,90,100]
##starts from index 1 and use a step 2
##which is 1,3,5 and so on
for i in my_list[1::2]:
    print(i, end="   ")

20   40   60   80   100

### Exercise 16: Calculate the cube of all numbers from 1 to a given number

Write a program to rint the cube of all numbers from 1 to a given number

In [48]:
##given number is
number = int(input("Enter a Number"))
##iterate through the values from 1 to number
for num in range(1,number+1):
    ##cube of the number
    current_number = num
    cube = num*num*num
    print("The current number is ",num, " and the Cube is ",cube)

Enter a Number 5

The current number is  1  and the Cube is  1
The current number is  2  and the Cube is  8
The current number is  3  and the Cube is  27
The current number is  4  and the Cube is  64
The current number is  5  and the Cube is  125

### Exercise 17: Find the sum of the series upto n terms

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [51]:
num_of_terms = int(input("Enter a Number"))
##first number of the sequence
first_num = int(input("Enter the First Number"))
##initializing the sequence sum
seq_sum = 0

##run loop num_of_terms times
for i in range(0,num_of_terms):
    print(first_num, end = "+")
    seq_sum += first_num
    ##calculate the next term'
    first_num = first_num * 10 + 3
    
print("\nSum of above series is:", seq_sum)

Enter a Number 10
Enter the First Number 3

3+33+333+3333+33333+333333+3333333+33333333+333333333+3333333333+
Sum of above series is: 3703703700

### Exercise 18: Print the following pattern

+ * 
+ * * 
+ * * * 
+ * * * * 
+ * * * * * 
+ * * * * 
+ * * * 
+ * * 
+ *

Use two for loops. First for loop to print the upper pattern and second for loop to print lower pattern

In [53]:
rows = 5
##upper pattern
for i in range(0,rows):
    for j in range(0,i+1):
        print("$", end = "  ")
    print("\r")
    
##lower pattern
for i in range(rows,0,-1):
    for j in range(0,i-1):
        print("$", end = "  ")
    print("\r")

$
$  $
$  $  $
$  $  $  $
$  $  $  $  $
$  $  $  $
$  $  $
$  $
$