### Exercise 1: Accept numbers from a user

Write a program to accept two numbers from the user and calculate multiplication

In [2]:
num1 = int(input("Enter the First Number"))
num2 = int(input("Enter the Second Number"))

mult_num1_num2 = num1 * num2
print(mult_num1_num2)

Enter the First Number 12
Enter the Second Number 23

276

### Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [3]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

### Exercise 3: Convert Decimal number to octal using print() output formatting

In [4]:
num = 8
print('%o' % num)

10

The octal number of decimal number 8 is 10

### Exercise 4: Display float number with 2 decimal places using print()

In [6]:
num = 458.541315
print('%.2f' % num)

458.54

In [8]:
## Round of to two decimal numbers ##
num = 23.345377
print("%.3f" %num)

23.345

### Exercise 5: Accept a list of 5 float numbers as an input from the user

In [9]:
numbers = []

## 5 is the list size 
## run loop 5 times

for i in range(0,5):
    print("Enter numuber at location",i,":")
    ## accept the float number from user ##
    item = float(input())
    ## add it to a list
    numbers.append(item)
print("User List:", numbers)

Enter numuber at location 0 :

 23.4

Enter numuber at location 1 :

 98.8

Enter numuber at location 2 :

 34.5

Enter numuber at location 3 :

 12.00

Enter numuber at location 4 :

 23.0989

User List: [23.4, 98.8, 34.5, 12.0, 23.0989]

### Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [12]:
## Read the test.txt in read format ##
with open("test.txt","r") as fp:
    ## Read all lines from the File ##
    lines = fp.readlines()

## Open a new file with write Mode ##
with open("new_text_file.txt","w") as fp:
    count = 0
    ##iterate each lines from the test.txt
    for line in lines:
        ##skip 5th line
        if count == 4:
            count += 1
            continue
        else:
            ##write current line
            fp.write(line)
        ##in each iteration reduce the count
        count += 1

### Exercise 7: Accept any three string from one input() call

Write a program to take three names as input from a user in the single input() function call.

In [18]:
str1,str2,str3 = input("Enter three Strings").split()
print("Name1:",str1)
print("Name2:",str2)
print("Name3:",str3)

Enter three Strings apj abdul kalam

Name1: apj
Name2: abdul
Name3: kalam

### Exercise 8: Format variables using a string.format() method.

Write a program to use string.format() method to format the following three variables as per the expected output

In [22]:
totalMoney = 1000
quantity = 3
price = 450

#I have 1000 dollars so I can buy 3 football for 450.00 dollars.

strng = "I have {} dollars so I can buy {} football for {} dollars"

strng.format(totalMoney,quantity,price)

'I have 1000 dollars so I can buy 3 football for 450 dollars'

### Exercise 9: Check file is empty or not

In [28]:
import os

size = os.stat('test.txt').st_size

if size == 0:
    print("File is Empty")
else:
    print("File is Not Empty")

File is Not Empty

### Exercise 10: Read line number 4 from the following file

In [33]:
## read the test.txt file ##
with open("test.txt","r") as fp:
    lines = fp.readlines()
    print(lines[3])

line4